html, body {
  height: 100%;
  background: #000;
  position : reative;
}
.outer-container{
  position:absolute; /*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width : 74%;
  height : 90%;
  min-height : 500px;
  min-width: 900px;
  max-height: 650px;
  max-width: 1050px;
  background-color: #D1D1D1;
  border : 1px solid #4D4834;
}
.inner-container{
  position: relative;
  margin : 13px;
  width : auto;
  height : auto;
}
.intro-container{
  width : 40%;
  background-color: #35BC7A;
  height : 31.8%;
  float : left;
}
.subject-container{
  width : 20%;
  height : 31.8%;
}
.profile-container{
  background-color: #FF9E00;
  margin-left: 40%;
}
.experience-container{
  background-color: #1E8BC4;
  float : left;
}
.education-container{
  background-color: #F15A49;
  float: left;
}
.hobbies-container{
  background-color: #35BC7A;
  margin-left: 40%;
}
.social-menu-container{
  background-color: #F86925;
  float : left;
  position : ;
}
.contact-container{
  background-color: #1E8BC4;
  float: left;
}
.portfolio-container{
  background-color: #F86925;
  margin-left: 40%;
}
.intro-header-name{
  color: #FFFFFA;
  font-size: 22px;
  font-weight: bold;
  margin : 35px 0px 10px 25px;
}
.intro-container p{
  color: #FFFFFA;
  line-height: 20px;
  font-size: 13px;
  margin-left : 25px;
}
.intro-container-button{
  width : 107px;
  height : 42px;
  border : 2px solid #ffffff;
  margin-left : 25px;
}
.resume-download{
  float : left;
}
.subject-image-heading-div{
  position:relative; /*it can be fixed too*/
  margin-left:auto;
  margin-right: auto;
  width : 33%;
  height : 50%;
}
.subject-container:hover, .intro-container:hover{
  cursor: hand;
}
.subject-container:hover ~.popup
{
  margin-left:45px;
  margin-top:-220px;
  opacity:1;
}
.popup{
  position:fixed;
  /*left:50vw;
  margin-left:35px;
  top:50vh;
  margin-top:-210px;*/
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
}
.popup div{
  width:100px;
  font-size:20px;
  padding:30px;
  background-color:black;
  border-radius:40px;
  color:white;
  text-align:center;
}
