html, body {
  height: 100%;
  background: #000;
  position : reative;
}
.outer-container{
  position:absolute; /*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width : 74%;
  height : 88%;
  min-height : 500px;
  min-width: 900px;
  max-height: 650px;
  max-width: 1050px;
  background-color: #D1D1D1;
  border : 1px solid #4D4834;
}
.inner-container{
  position: inherit;
  padding : 10px;
  width : 100%;
  height : 100%;
}
.left-side-container{
  /*border : 1px solid #4D4834;*/
  width : 60%;
  height : 100%;
  float:left;
}
.right-side-container{
  /*border : 1px solid #4D4834;*/
  width : 40%;
  height : 100%;
  float:right;
}
.data-container{
  margin-left : 10px;
  width : 97%;
  height : 100%;
  background-color: #000000;
}
.row{
  margin-left:0px !important;
}
.dmm_ribbon{
    margin-bottom:40px;
    position:relative;
    z-index:0;
    color:#fff;
    width:40px;
    height:190px;
    top:-5px;
    left:20px;
    -moz-box-shadow:1px 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:1px 0 2px rgba(0, 0, 0, 0.3);
    box-shadow:1px 0 2px rgba(0, 0, 0, 0.3);
    -moz-border-radius:5px 0 0 0;
    -webkit-border-radius:5px 0 0 0;
    border-radius:5px 0 0 0;
    text-align:center;
  }
.dmm_ribbon:hover{
  height:210px;
}
.dmm_ribbon:hover span{padding-top:55px; }
.dmm_ribbon:before,.dmm_ribbon:after{content:''; position:absolute;
    width:20px; height:70px; background:#666; z-index:-2; }
.dmm_ribbon:before{bottom:18px; right:5px;
    -moz-transform:rotate(12deg) skew(18deg, 28deg);
    -webkit-transform:rotate(12deg) skew(18deg, 28deg);
    border-right-color:#174c66;
    -o-transform:rotate(12deg) skew(18deg, 28deg);
    -ms-transform:rotate(12deg) skew(18deg, 28deg);
    transform:rotate(12deg) skew(18deg, 28deg);
    -moz-box-shadow:8px 25px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:8px 25px 4px rgba(0, 0, 0, 0.5);
    box-shadow:8px 25px 4px rgba(0, 0, 0, 0.5); border-top-color:#174c66;
}
.dmm_ribbon:after{bottom:16px; left:5px;
    -moz-transform:rotate(-23deg) skew(-18deg, -28deg);
    -webkit-transform:rotate(-23deg) skew(-18deg, -28deg);
    -o-transform:rotate(-23deg) skew(-18deg, -28deg);
    -ms-transform:rotate(-23deg) skew(-18deg, -28deg);
    transform:rotate(-23deg) skew(-18deg, -28deg);
    -moz-box-shadow:-5px 20px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:-5px 20px 4px rgba(0, 0, 0, 0.5);
    box-shadow:-5px 20px 4px rgba(0, 0, 0, 0.5); }
.dmm_ribbon span{display:block; height:100%; position:relative;
    -moz-border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0;
    border-radius:5px 0 0 0; background-color:#42a5d4;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42a5d4), color-stop(5px, #42a5d4), color-stop(15%, #24769d), color-stop(65%, #24769d), color-stop(100%, #42a5d4));
    background-image:-webkit-linear-gradient(#42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
    background-image:-moz-linear-gradient(#42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
    background-image:-ms-linear-gradient(#42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
    background-image:-o-linear-gradient(#42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
    background-image:linear-gradient(#42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
    padding-top: 35px; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; cursor:pointer; box-sizing: border-box; }
.dmm_ribbon span:before,.dmm_ribbon span:after{content:''; position:absolute;
    z-index:-1; }
.dmm_ribbon span:before{border-style:solid; border-width:5px;
    border-color:transparent; right:-5px; top:0; -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg); -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg); transform:rotate(45deg);
    -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
    border-top-color:#174c66; border-left-color:#174c66; }
.dmm_ribbon span:after{bottom:-20px; left:0; border-style:solid;
    border-width:20px; border-color:#42a5d4 #42a5d4 transparent #42a5d4;
}

.intro-container{
  width : 65%;
  background-color: #35BC7A;
  height : 33.3%;
  float : left;
}
.subject-container{
  width : 32.5%;
  height : 33.3%;
}
.profile-container{
  background-color: #FF9E00;
  float : left;
}
.experience-container{
  background-color: #1E8BC4;
  float : left;
}
/*.chat-container{
  width : 33%;
  height : 90%;
  float:left;
  background-color: #fffaaa;
}*/
.education-container{
  background-color: #F15A49;
  float: left;
}
.hobbies-container{
  background-color: #35BC7A;
  margin-left: 65%;
}
.social-menu-container{
  background-color: #F86925;
  float : left;
}
.contact-container{
  background-color: #1E8BC4;
  float: left;
}
.chat-with-alfred-container{
  background-color: #F86925;
  margin-left: 65%;
}
.intro-header-name{
  color: #FFFFFA;
  font-size: 22px;
  font-weight: bold;
  margin : 35px 0px 10px 25px;
}
.intro-container p{
  color: #FFFFFA;
  line-height: 20px;
  font-size: 13px;
  margin-left : 25px;
}
.intro-container-button{
  width : 107px;
  height : 42px;
  border : 2px solid #ffffff;
  margin-left : 25px;
}
.resume-download{
  float : left;
}
.subject-image-heading-div{
  position:relative; /*it can be fixed too*/
  margin-left:auto;
  margin-right: auto;
  width : 33%;
  height : 50%;
}
